<body>
<style>
  input{
    outline:0px;
    
    color:grey;
    width: 200px;
    height: 30px;
    padding: 5px;
  }
  body{
    background-color:black;
    padding-top:20px;

  }
</style>
<div style="justify-self:center;justify-items:center;color:grey;border-radius:5px;font-family:sans-serif;">
<h2 style="justify-self:center;">Log In</h2>
<form method ='POST'>
    {% csrf_token %}
    <input style="justify-content:center;border-radius:5px;border-width:0;" type="text"name="username" placeholder="username...">
    <br><br>
    <input style="justify-content:center;border-radius:5px;border-width:0;" type="password" name="password" placeholder="password...">
    <br><br>




  <div style="justify-self:center;">
    <button style="border-width:0;border-radius:5px;cursor:pointer;width:200;background-color:rgb(135, 12, 235);" type="submit">Sign In</button>
  </div>
  </form>
<p>Don't Have an account? <a style="text-decoration:none;color:green;" href="{% url 'register' %}">Sign Up</a></p>
 <a style="text-decoration:none;color:green;"
  href="{% url 'password_reset' %}"><p>Forgot Password? </p></a>

</div>
</body>